<div class="container">
	<h5>Entidades Registrados</h5>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Web</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(entities, function(entity){ %>
				<tr>
					<td><%=entity.name%></td>
					<td><%=entity.email%></td>
					<td><%=entity.web%></td>
					<td>
						<form method="LINK" action="/entity/show/<%=entity.id%>">
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">mode_edit</i>
						  </button>
						</form>
					</td>
					<td>
						<form action="/entity/destroy/<%=entity.id%>" method="POST" accept-charset="utf-8">
							<input type="hidden" name="_method" value="delete"/>
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">delete</i>
						  </button>
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						</form>
					</td>
				</tr>
			<%})%>
		</tbody>
	</table>
	<ul class="pagination">
		<%for (var i = 	1; i <= cantPag; i++) {%>
			<%if(currentPage == i){%>
				<li class="active"><a href="?page=<%=i%>"><%=i%></a></li>
			<%}else{%>
				<li><a href="?page=<%=i%>"><%=i%></a></li>
			<%}%>
		<%};%>
	</ul>
	</br>
	<a href="new" class="btn btn-success btn-sm ">Crear una entidad</a>
</div>
