<div class="container">
	<div>
		<form action="/entity/create" method="POST" accept-charest="utf-8" class="col s12">
			<div class="row">
        <div class="input-field col s6">
        	<input type="text" name="name" required autofocus
					<%if(typeof data !== 'undefined' && typeof data.entityData !== 'undefined' && typeof data.entityData.name !== 'undefined'){%>
					value='<%=data.entityData.name%>'<%}%>>
          <label for="name">Nombre o razón social</label>
        </div>
        <div class="input-field col s6">
          <input name="addres" type="text" class="validate"
					<%if(typeof data !== 'undefined' && typeof data.entityData !== 'undefined' && typeof data.entityData.address !== 'undefined'){%>
					value='<%=data.entityData.address%>'<%}%>>
          <label for="addres">Dirección</label>
        </div>
      </div>
			<div class="row">
        <div class="input-field col s6">
					<%if(typeof data !== 'undefined' && typeof data.entityData !== 'undefined' && typeof data.entityData.documentType !== 'unefined'){
						var documentType = data.entityData.documentType;
					}%>
			    <select name="documentType">
			      <option value="" disabled selected>Tipo de documento...</option>
			      <option value="1" <%if(typeof documentType !== 'undefined' && documentType==1){%>selected<%}%>>RUT</option>
			      <option value="2" <%if(typeof documentType !== 'undefined' && documentType==2){%>selected<%}%>>CI</option>
			      <option value="3" <%if(typeof documentType !== 'undefined' && documentType==3){%>selected<%}%>>DNI</option>
			    </select>
        </div>
        <div class="input-field col s6">
          <input name="document" type="text" class="validate"
					<%if(typeof data !== 'undefined' && typeof data.entityData !== 'undefined' && typeof data.entityData.document !== 'undefined'){%>
					value='<%=data.entityData.document%>'<%}%>>
          <label for="addres">Documento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
        	<input type="text" name="web"
					<%if(typeof data !== 'undefined' && typeof data.entityData !== 'undefined' && typeof data.entityData.web !== 'undefined'){%>
					value='<%=data.entityData.web%>'<%}%>>
          <label for="web">Web</label>
        </div>
        <div class="input-field col s6">
          <input name="email" type="email" class="validate" required
					<%if(typeof data !== 'undefined' && typeof data.entityData !== 'undefined' && typeof data.entityData.email !== 'undefined'){%>
					value='<%=data.entityData.email%>'<%}%>>
          <label for="email">E-Mail</label>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
      	<div class="input-field col s6">
        	<input type="date" class="datepicker" name="dateOfContract" required
					<%if(typeof data !== 'undefined' && typeof data.contractData !== 'undefined' && typeof data.contractData.dateOfContract !== 'undefined'){%>
					value='<%=data.contractData.dateOfContract%>'<%}%>>
          <label for="dateOfContract">Fecha de contrato</label>
        </div>
        <div class="input-field col s6">
          <input name="monthToDue" type="number" class="validate" required
					<%if(typeof data !== 'undefined' && typeof data.contractData !== 'undefined' && typeof data.contractData.monthToDue !== 'undefined'){%>
					value='<%=data.contractData.monthToDue%>'<%}%>>
          <label for="monthToDue">Meses para que expire</label>
        </div>
      </div>
      <div class="row">
				<div class="input-field col s6">
					<label></label>
					<br/>
					<div class="switch">
						<label>
							Renovación automática: no
							<input id = 'autoReNew' name ="autoReNew" type="checkbox"
							<%if(typeof data !== 'undefined' && typeof data.contractData !== 'undefined' && typeof data.contractData.autoReNew !== 'undefined' && data.contractData.autoReNew == true){%>
							checked<%}%>>
							<span class="lever"></span>
							si
						</label>
					</div>
	      </div>
				<div class="input-field col s6">
					<%if(typeof data !== 'undefined' && typeof data.contractData !== 'undefined' && typeof data.contractData.membership !== 'unefined'){
						var memberShip = data.contractData.membership;
					}%>
					<select name="membership">
			      <option value="" disabled selected>Tipo de membresía...</option>
			      <option value="1" <%if(typeof memberShip !== 'undefined' && memberShip==1){%>selected<%}%>>Preincubación</option>
			      <option value="2" <%if(typeof memberShip !== 'undefined' && memberShip==2){%>selected<%}%>>Incubación</option>
			      <option value="3" <%if(typeof memberShip !== 'undefined' && memberShip==3){%>selected<%}%>>Co-Work</option>
			    </select>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input class="btn btn-success btn-sm" value="Crear" type="submit"/>
		</form>
		</div>
		<br/>
		<a href="/entity/index" class="btn btn-success btn-sm ">Ver todas las entidades</a>
	</div>
</div>
