<div class="container">
	<div>
		<form action="/entity/edit" method="POST" accept-charest="utf-8" class="col s12">
			<div class="row">
        <div class="input-field col s6">
        	<input type="text" name="name" required autofocus disabled
					<%if(typeof entity !== 'undefined' && typeof entity.name !== 'undefined'){%>
					value='<%=entity.name%>'<%}%>>
          <label for="name">Nombre o razón social</label>
        </div>
        <div class="input-field col s6">
          <input name="addres" type="text" class="validate" disabled
					<%if(typeof entity !== 'undefined' && typeof entity.address !== 'undefined'){%>
					value='<%=entity.address%>'<%}%>>
          <label for="addres">Dirección</label>
        </div>
      </div>
			<div class="row">
        <div class="input-field col s6">
					<%if(typeof entity !== 'undefined' && typeof entity.documentType !== 'unefined'){
						var documentType = entity.documentType;
					}%>
			    <select name="documentType" disabled>
			      <option value="" disabled selected>Tipo de documento...</option>
			      <option value="1" <%if(typeof documentType !== 'undefined' && documentType==1){%>selected<%}%>>RUT</option>
			      <option value="2" <%if(typeof documentType !== 'undefined' && documentType==2){%>selected<%}%>>CI</option>
			      <option value="3" <%if(typeof documentType !== 'undefined' && documentType==3){%>selected<%}%>>DNI</option>
			    </select>
        </div>
        <div class="input-field col s6">
          <input name="document" type="text" class="validate" disabled
					<%if(typeof entity !== 'undefined' && typeof entity.document !== 'undefined'){%>
					value='<%=entity.document%>'<%}%>>
          <label for="addres">Documento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
        	<input type="text" name="web" disabled
					<%if(typeof entity !== 'undefined' && typeof entity.web !== 'undefined'){%>
					value='<%=entity.web%>'<%}%>>
          <label for="web">Web</label>
        </div>
        <div class="input-field col s6">
          <input name="email" type="email" class="validate" required disabled
					<%if(typeof entity !== 'undefined' && typeof entity.email !== 'undefined'){%>
					value='<%=entity.email%>'<%}%>>
          <label for="email">E-Mail</label>
        </div>
      </div>
      <br/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input class="btn btn-success btn-sm" value="Editar" type="submit"/>
		</form>
		</div>
		<br/>
		<a href="/entity/index" class="btn btn-success btn-sm ">Ver todas las entidades</a>
	</div>
</div>
