<div class="container">
	<h2>Reservas</h2>
	<table class="table table-hover" >
		<th>Nombre usuario</th>
		<th>Material</th>
		<th>Fecha</th>
		<th>Fecha completa</th>
		<th>Hora inicio</th>
		<th>Hora fin</th>
		<th>Estado</th>
		<th colspan="2" class="text-center">Acciones</th>
		<% _.each(reservation, function(reservation) { %>
		<tr>
			<form action="/reservation/confirm/<%=reservation.id%>" accept-charset="utf-8">
			
			<td name="idUser" value="<%=reservation.idUser%>"><%=reservation.idUser%></td>
			<td name="idResource" value="<%=reservation.idResource%>"><%=reservation.idResource%></td>
			<td name="date" value="<%=reservation.date%>"><%=reservation.date.getDate()%>/<%=reservation.date.getMonth()+1%>/<%=reservation.date.getFullYear()%></td>
			
			<td name="startTime" value="<%=reservation.startTime%>"><%=reservation.startTime%></td>
			<td name="endTime" value="<%=reservation.endTime%>"><%=reservation.endTime%></td>
			<td name="state" value="<%=reservation.state%>"><%=reservation.state%></td>
			<td>

					<input type="submit"  class="btn btn-sm btn-danger" value="Rechazar"/>
				</form>
			</td>
			<td>
				<form action="/reservation/confirm/<%=reservation.id%>" accept-charset="utf-8">
					<input type="submit"  class="btn btn-success btn-sm" value="Confirmar"/>
				</form>
			</td>
			<td>
				<form action="/reservation/destroy/<%=reservation.id%>" accept-charset="utf-8">
					<input type="submit"  class="btn btn-sm btn-danger" value="Cancelar"/>
				</form>
			</td>
        </select>
		</tr>
		<%})%>
	</table>
</div>

<a href="new" class="btn btn-success btn-sm ">Crea Nueva reservación</a>