<div>
	<form action="/reservation/create" method="POST" accept-charest="utf-8" class="form-singin">
    <label>id usuario</label>
    <input type="text" name="idUser" class="form-control" required>
    <label>Fecha:</label>
    <input type="text" name="date" class="form-control" required id='datepicker' >
    <label>Recurso:</label>
    <select name="idResource" required>
      <option value="" disabled>--SALONES--</option>
      <% _.each(rooms, function(room) { %>
      <option value = "<%= room.id %>" ><%=room.number%></option>
      <%});%>
      <option value="" disabled>--MATERIALES--</option>
      <% _.each(materials, function(material) { %>
      <option value = "<%= material.id %>" ><%=material.name%></option>
      <%});%>
    </select><br>
		<label>Hora inicio</label>
    <select name="startTime" required>
      <script type="text/javascript">
        hhinicio();
      </script>
    </select><br>
    <label>Hora fin</label>
    <select name="endTime" required>
       <script type="text/javascript">
        ejemplo();
       </script>
    </select><br>
   	<input type="submit"/>
	</form>
</div>
    <select name="ej">
       <script type="text/javascript">
        ejemplo();
       </script>
    </select>

<select name="idResource" required>
      <option value="" disabled>--Seleccion--</option>
      <% _.each(rooms, function(room) { %>
      <option value = "<%= room.id %>" ><%=room.number%></option>
      <%});%>
  </select>
<select>
      <option value="" disabled>--Seleccion--</option>
      <% _.each(materials, function(material) { %>
      <option value = "<%= material.id %>" ><%=material.name%></option>
      <%});%>
  </select>

 



<a href="/reservation/index" class="btn btn-success btn-sm ">Reservas</a>