<div class="container">
	<form action="/group/update/<%=group.id%>" method="POST" accept-charset="utf-8" class="form-singin">
		<label>Name</label>
		<input type="text" name="name" class="form-control" value="<%= group.name%>" required>
		</br>
		<input type="submit"  class="btn btn-default"/>
	</form> 
</div>