<div class="container">
	<h2>Grupos Registrados</h2>
	<table class="table table-hover" >
		<th><h3>Nombre</h3></th>
		<th colspan="2" class="text-center"><h3>Acciones</h3></th>
		<% _.each(group, function(group) { %>
		<tr>
			<td><h4><%=group.name%></h4></td>
			<td>
				<form method="LINK" action="/group/show/<%=group.id%>"> 
					<input type="submit" class="a" value="Ver información"> 
				</form>
			</td>
			<td>
				<form action="/group/destroy/<%=group.id%>" method="POST" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit"  class="a" value="Eliminar"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
				</form>
			</td>
		</tr>
		<%})%>
	</table>
	<a href="new" class="btn btn-success btn-sm "><h4>Crea Otro Grupo</h4></a>
</div>

