<div class="container">
	<form action="/group/create" method="POST" accept-charest="utf-8" class="form-singin">
		<label>Nombre</label>
		<input type="text" name="name" class="form-control" required/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
		<input type="submit" class="btn btn-success btn-sm" value='Crear'/>
	</form>
	<a href="/group/index" class="btn btn-success btn-sm ">Ver Todos Los Grupos</a>
</div>
