<div class="container">
	<h2>Informacion Grupo</h2>
	<ul>
		<li><%= group.name %></li>
	</ul>
	
	<form action="/group/edit/<%=group.id%>" method="POST" accept-charset="utf-8">
		<button type="submit" class="btn btn-success" >Editar</button>
	</form>
	<a href="/group/index" class="btn btn-success btn-sm ">Ver Todos Los Grupos</a>
</div>


