<div class="container">
	<div>
		<form action="/schedule/update/<%=schedule.id%>" method="POST" accept-charest="utf-8" class="col s12">
			<div class="input-field col s12">
				<select name="day" id="sel">
		      <option value="" disabled selected>Seleccione una opción</option>
		      <option value="Lunes">Lunes</option>
		      <option value="Martes">Martes</option>
		      <option value="Miercoles">Miercoles</option>
		      <option value="Jueves">Jueves</option>
		      <option value="Viernes">Viernes</option>
		      <option value="Sabado">Sabado</option>
		      <option value="Domingo">Domingo</option>
		    </select>
		    <label>Día</label>
			</div>
			<div class="input-field col s6">
				<input name="hourStart" placeholder="00:00" id="hourStart" type="text" class="validate" value="<%=schedule.hourStart%>">
        <label for="hourStart">Hora de inicio:</label>
			</div>
			<div class="input-field col s6">
				<input name="hourEnd" placeholder="00:00" id="hourEnd" type="text" class="validate" value="<%=schedule.hourEnd%>">
        <label for="hourEnd">Hora de fin:</label>
			</div>
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input class="btn btn-success btn-sm" value="Editar" type="submit"/>
		</form>
	</div>
	<br>
	<a href="/schedule/index" class="btn btn-success btn-sm ">Ver Todos los Horarios</a>
</div>