<div class="container">
	<h5>Horarios</h5>
	<table>
		<thead>
			<tr>
				<th>Dia</th>
				<th>Horario</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(schedules, function(schedule) { %>
				<tr>
					<td><%=schedule.dayOfWeek%></td>
					<td><%=schedule.hourStart%> - <%=schedule.hourEnd%></td>
					<td>
						<form method="LINK" action="/schedule/show/<%=schedule.id%>"> 
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">mode_edit</i>
						  </button>
						</form>
					</td>
					<td>
						<form action="/schedule/destroy/<%=schedule.id%>" method="POST" accept-charset="utf-8">
							<input type="hidden" name="_method" value="delete"/>
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">delete</i>
						  </button>
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						</form>
					</td>
				</tr>
			<%})%>
		</tbody>		
	</table>
	<ul class="pagination">
		<%for (var i = 	1; i <= cantPag; i++) {%>
			<%if(currentPage == i){%>
				<li class="active"><a href="?page=<%=i%>"><%=i%></a></li>
			<%}else{%>
				<li><a href="?page=<%=i%>"><%=i%></a></li>
			<%}%>
		<%};%>
	</ul>
	</br>
	<a href="new" class="btn btn-success btn-sm ">Crear Otro Horario</a>
</div>

