<!DOCTYPE html>
<html>
  <head>
    <title>Centro de empresas y emprendedores</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/estilo.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <!--STYLES END-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript">
      <%if(typeof _csrf !== 'undefined'){%>
        window.cee = { csrf: "<%= _csrf %>" };
      <%}%>
    </script>
      <header>
        <%if(typeof session.permissions !== 'undefined'){%>
           <ul id="dropdownEventos" class="dropdown-content">
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Calendario</a></li>
            <li><a href="#">Reservas</a></li>
          </ul>
          <ul id="dropdownMantenimientos" class="dropdown-content">
            <%var perm = _.findWhere(session.permissions,{model:'User'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/user/index">Usuarios</a></li>
            <%}%>
            <% perm = _.findWhere(session.permissions,{model:'Role'}); %>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/role/index">Roles</a></li>
            <%}%>
            <% perm = _.findWhere(session.permissions,{model:'Permission'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/permission/index">Permisios</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Group'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/group/index">Grupos</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Material'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/material/index">Materiales</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Room'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/room/index">Salones</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Event'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/event/index">Eventos</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Event'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/contract/index">Contratos</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Entity'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/entity/index">Entidades</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Ocurrence'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
            <li><a href="/ocurrence/index">Precios</a></li>
            <%}%>
          </ul>
          <ul id="dropdownEventosMobile" class="dropdown-content">
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Calendario</a></li>
            <li><a href="#">Reservas</a></li>
          </ul>
          <ul id="dropdownMantenimientosMobile" class="dropdown-content">
            <ul id="dropdownMantenimientos" class="dropdown-content">
            <%var perm = _.findWhere(session.permissions,{model:'User'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/user/index">Usuarios</a></li>
            <%}%>
            <% perm = _.findWhere(session.permissions,{model:'Role'}); %>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/role/index">Roles</a></li>
            <%}%>
            <% perm = _.findWhere(session.permissions,{model:'Permssion'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/permission/index">Permisios</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Group'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/group/index">Grupos</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Material'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/material/index">Materiales</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Room'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/room/index">Salones</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Event'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/event/index">Eventos</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'Entity'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/entity/index">Entidades</a></li>
            <%}%>
            <%perm = _.findWhere(session.permissions,{model:'ocurrence'});%>
            <%if(typeof perm !== 'undefined' && perm.canAccess){%>
              <li><a href="/ocurrence/index">Precios</a></li>
              <%}%>
          </ul>
          </ul>
        <%}%>
        <nav id="barraNavegacion">
          <div class="nav-wrapper black">
            <a id="linkLogo" href="#" class="brand-logo"><img id="logo" src="/images/logocee.png"></a>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li class="active"><a href="/">Inicio</a></li>
              <% if (session.authenticated) { %>
                <li>
                  <a class="dropdown-button" href="#!" data-activates="dropdownEventos">Eventos<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>
                  <a class="dropdown-button" href="#!" data-activates="dropdownMantenimientos">Mantenimientos<i class="material-icons right">arrow_drop_down</i></a>
                </li>              
                <li class="active"><a href="/user/profile"><%=session.User.name%></a></li>
                <li><a class="btn btn-default" href="/session/destroy">sign-out</a></li>
              <% }else{ %>
                <li><a class="btn btn-default" href="/session/new">sign-in</a></li>
              <% } %>
              </ul>
              <ul class="side-nav" id="mobile">
              <li class="active"><a href="/">Inicio</a></li>
              <li>
                <a class="dropdown-button" href="#!" data-activates="dropdownEventosMobile">Eventos<i class="material-icons right">arrow_drop_down</i></a>
              </li>
              <li>
                <a class="dropdown-button" href="#!" data-activates="dropdownMantenimientosMobile">Mantenimientos<i class="material-icons right">arrow_drop_down</i></a>
              </li>
              <% if (session.authenticated) { %>
                <li class="active"><a href="/user/profile"><%=session.User.name%></a></li>
                <li><a class="btn btn-default" href="/session/destroy">sign-out</a></li>
              <% }else{ %>
                <li><a class="btn btn-default" href="/session/new">sign-in</a></li>
              <% } %>
            </ul>
          </div>
        </nav>
      </header>
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.js"></script>
    <script src="/js/dependencies/underscore.js"></script>
    <script src="/js/dependencies/action/action.js"></script>
    <script src="/js/dependencies/customValidate.js"></script>
    <script src="/js/dependencies/entity/entity.js"></script>
    <script src="/js/dependencies/group/group.js"></script>
    <script src="/js/dependencies/jquery.validate.min.js"></script>
    <script src="/js/dependencies/main.js"></script>
    <script src="/js/dependencies/materialize.js"></script>
    <script src="/js/dependencies/price/price.js"></script>
    <script src="/js/dependencies/role/role.js"></script>
    <script src="/js/dependencies/user/user.js"></script>
    <!--SCRIPTS END-->
    <%if(typeof flash !== 'undefined'){%>
      <% if(flash && flash.err) { %>
        <!--<ul class="alert alert-success" id="flashMsj">-->
        <script type="text/javascript">
          var $toastContent = $('<% Object.keys(flash.err).forEach(function(error){%><span><%= flash.err[error].message %></span><% })%>');
          Materialize.toast($toastContent, 4000)
        </script>
      <!--</ul>-->
      <% } %>
    <%}%>

    <%if(typeof schedule !== 'undefined' && typeof schedule.dayOfWeek !== 'undefined'){%>
      <script type="text/javascript">
        $( document ).ready(function(){
          var val = '<%=schedule.dayOfWeek%>';
          var elem = $('#sel option[value=' + val + ']');
          elem.prop({selected: true});
          $('select').material_select();
        })
      </script>
    <%}%>
  </body>
</html>
