<div class="container">

	<ul class="collapsible" data-collapsible="accordion" style="width: 100%;">
		<li>
			<div class="collapsible-header"><i class="material-icons">find_in_page</i>Filtros</div>
			<div class="collapsible-body">
				<div class="findForm">
					<form id="find" action="/user/index" method="post" accept-charest="utf-8" class="form-singin col s12">
						<div class="row">
							<div class="input-field col s6">
								<label>Nombre</label>
								<input type="text" name="name" class="form-control"
								<%if(typeof userFindParams !== 'undefined' && typeof userFindParams.name !== 'undefined'){%> value=<%=userFindParams.name%> <%}%>>
							</div>
							<div class="input-field col s6">
								<label>Email</label>
								<input type="text" name="email" class="form-control"
								<%if(typeof userFindParams !== 'undefined' && typeof userFindParams.email !== 'undefined'){%> value=<%=userFindParams.email%> <%}%>>
							</div>
						</div>
						<div class="row">
							<label>Traer inactivos</label>
							<div class="switch">
						    <label>
						      No
						      <input name ="active" type="checkbox"
										<%if(typeof userFindParams !== 'undefined' && typeof userFindParams.active === 'undefined'){%> checked <%}%>>
						      <span class="lever"></span>
						      Si
						    </label>
						  </div>
						</div>
						<input id="page" type="hidden" name="page"
						<%if(typeof currentPage !== 'undefined' ){%> value=<%=currentPage%> <%}%> />
						<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						<input type="submit" class="btn btn-success btn-sm" value='Buscar'/>
						<input type="button" class="btn btn-success btn-sm" onclick="clearFindForm()" value='Limpiar'/>
					</form>
				</div>
			</div>
		</li>
	</ul>
	<h5>Usuarios registrados</h5>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>F. Nacimiento</th>
				<th>Email</th>
				<th>Web</th>
				<th>Activo</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</theader>
		<tbody id="tblUsers">
			<% _.each(users, function(user) { %>
				<tr>
					<td><%=user.name%></td>
					<td><%if(typeof user.lastname != 'undefined'){%><%=user.lastname%><%}%></td>
					<td><%if(typeof user.birthdate != 'undefined'){%><%=user.birthdate.toLocaleDateString()%><%}%></td>
					<td><%=user.email%></td>
					<td><%if(typeof user.web != 'undefined'){%><%=user.web%><%}%></td>
					<td><%=user.active%></td>
					<td>
						<form method="LINK" action="/user/show/<%=user.id%>">
						 	<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">mode_edit</i>
						  </button>
						</form>
					</td>
					<td>
						<a id="viewModUserDeleteConfirmation"
						class="btn-floating btn-small waves-effect waves-light red modal-trigger"
						href="#userDeleteConfirmation" onclick="openModalDialog('<%=user.id%>','<%=user.email%>')">
					    <i class="small material-icons right">delete</i>
					  </a>
					</td>
				</tr>
			<%})%>
		</tbody>
	</table>
	<ul class="pagination">
		<%for (var i = 	1; i <= cantPag; i++) {%>
			<%if(currentPage == i){%>
				<li class="active"><a class="pageButton" id="<%=i%>" href="javascript:void(0)"><%=i%></a></li>
			<%}else{%>
				<li><a class="pageButton" id="<%=i%>" href="javascript:void(0)"><%=i%></a></li>
			<%}%>
		<%}%>
	</ul>
	</br>
	<a href="new" class="btn btn-success btn-sm ">Crea Otro Usuario</a>
</div>
<!-- Modal Structure -->
  <div id="userDeleteConfirmation" class="modal">
		<form id="deleteUserForm" method="POST" action="">
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
		</form>
    <div class="modal-content">
      <p>¿Esta seguro que desea eliminar el usuario</p>
      <p id='userName'</p>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
			<a onClick='eliminarUsuario()' href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>
