<div class="container">
		<form action="/user/create" method="POST" accept-charest="utf-8" class="form-singin col s12">
			<div class="row">
				<div class="input-field col s6">
					<label>Nombre</label>
					<input type="text" name="name" class="form-control" required autofocus
					<%if(typeof user !== 'undefined' && typeof user.name !== 'undefined'){%> value='<%=user.name%><%}%>'>
				</div>
				<div class="input-field col s6">
					<label>Apellido</label>
					<input type="text" name="lastname" class="form-control"
					<%if(typeof user !== 'undefined' && typeof user.lastname !== 'undefined'){%> value='<%=user.lastname%><%}%>'>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label>Email</label>
					<input type="text" name="email" class="form-control" required
					<%if(typeof user !== 'undefined' && typeof user.email !== 'undefined'){%> value='<%=user.email%><%}%>'>
				</div>
				<div class="input-field col s6">
					<label>Web</label>
					<input type="text" name="web" class="form-control"
					<%if(typeof user !== 'undefined' && typeof user.web !== 'undefined'){%> value='<%=user.web%><%}%>'>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label>Fecha de nacimiento</label>
					<input type="hidden" id="dateToSet"
					<%if(typeof user !== 'undefined' && typeof user.birthdate !== 'undefined'){%> value='<%=user.birthdate%><%}%>'>
					<input type="date" name="birthdate" class="datepicker">
				</div>
				<div class="input-field col s6">
					<label>Contraseña</label>
					<input type="password" name="password" class="form-control" required
					<%if(typeof user !== 'undefined' && typeof user.password !== 'undefined'){%> value='<%=user.password%><%}%>'>
				</div>
			</div>
			</br>
			<a id="viewModGroups" class="modal-trigger waves-effect waves-light btn" href="#viewGroups">Administrar grupos</a>
			</br>
			</br>
			<a id="viewModEntities" class="modal-trigger waves-effect waves-light btn" href="#viewEntities">Administrar entidades</a>
			</br>
			</br>
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input type="submit" class="btn btn-success btn-sm" value='Crear'/>
			<table id="tableGroups"style="dysplay:none">
				<tr></tr>
				<%if(typeof user !== 'undefined' && typeof user.groups !== 'undefined'){%>
					<%_.each(user.groups,function(group){%>
						<tr data-id="<%= group %>" data-model="group">
							<input type="hidden" name="groups" value="<%=group%>">
						</tr>
					<%})%>
				<%}%>
			</table>
			<table id="tableEntities"style="dysplay:none">
				<tr></tr>
				<%if(typeof user !== 'undefined' && typeof user.entities !== 'undefined'){%>
					<%_.each(user.entities,function(entity){%>
						<tr data-id="<%= entity %>" data-model="entity">
							<input type="hidden" name="entities" value="<%=entity%>">
						</tr>
					<%})%>
				<%}%>
			</table>
		</form>
	</br>
		<a href="/user/index" class="btn btn-success btn-sm ">Ver Todos Los Usuarios</a>
	</div>
</div>
<div id="viewGroups" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Grupos</h5>
	  <table id="tableModalGroups">
	  	<thead>
	  		<tr>
	  			<th>Grupo</th>
					<th colspan="2" class="text-center">Agregar</th>
	  		</tr>
	  	</thead>
		</table>
	</div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>

<div id="viewEntities" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Entidades</h5>
	  <table id="tableModalEntities">
	  	<thead>
	  		<tr>
	  			<th>Entidad</th>
					<th colspan="2" class="text-center">Agregar</th>
	  		</tr>
	  	</thead>
		</table>
	</div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>
