<div class="container">
	<h2>Perfil</h2>
	<ul>
		<li><%= user.name %></li>
		<li><%= user.email %></li>
	</ul>
	
	<form action="/user/edit/<%=user.id%>" method="POST" accept-charset="utf-8">
		<button type="submit" class="btn btn-success" >Editar</button>
	</form>
</div>