<div class="container">
		<form action="/user/edit/<%=user.id%>" method="LINK" accept-charest="utf-8" class="form-singin col s12">
			<div class="row">
				<div class="input-field col s6">
					<label>Nombre</label>
					<input type="text" name="name" class="form-control" required autofocus disabled
					<%if(typeof user !== 'undefined' && typeof user.name !== 'undefined'){%> value='<%=user.name%><%}%>'>
				</div>
				<div class="input-field col s6">
					<label>Apellido</label>
					<input type="text" name="lastname" class="form-control" disabled
					<%if(typeof user !== 'undefined' && typeof user.lastname !== 'undefined'){%> value='<%=user.lastname%><%}%>'>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label>Email</label>
					<input type="text" name="email" class="form-control" required disabled
					<%if(typeof user !== 'undefined' && typeof user.email !== 'undefined'){%> value='<%=user.email%><%}%>'>
				</div>
				<div class="input-field col s6">
					<label>Web</label>
					<input type="text" name="web" class="form-control" disabled
					<%if(typeof user !== 'undefined' && typeof user.web !== 'undefined'){%> value='<%=user.web%><%}%>'>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label>Fecha de nacimiento</label>
					<input type="hidden" id="dateToSet"
					<%if(typeof user !== 'undefined' && typeof user.birthdate !== 'undefined'){%> value='<%=user.birthdate%><%}%>'>
					<input type="date" name="birthdate" class="datepicker" disabled>
				</div>
				<div class="input-field col s6">
					<label>Contraseña</label>
					<input type="password" name="password" class="form-control" required disabled
					<%if(typeof user !== 'undefined' && typeof user.password !== 'undefined'){%> value='<%=user.password%><%}%>'>
				</div>
			</div>
			</br>
			<a id="viewModGroupsShow" class="modal-trigger waves-effect waves-light btn" href="#viewGroupsShow">Ver grupos</a>
			</br>
			</br>
			<a id="viewModEntitiesShow" class="modal-trigger waves-effect waves-light btn" href="#viewEntitiesShow">Ver entidades</a>
			</br>
			</br>
			<input type="submit" class="btn btn-success btn-sm" value='Editar'/>
		</form>
		</br>
		<a href="/user/index" class="btn btn-success btn-sm ">Ver Todos Los Usuarios</a>
	</div>
</div>
<div id="viewGroupsShow" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Grupos</h5>
	  <table id="tableModalGroupsShow">
	  	<thead>
	  		<tr>
	  			<th>Grupo</th>
	  		</tr>
					<%if(typeof user !== 'undefined' && typeof user.groups !== 'undefined'){%>
						<%_.each(user.groups,function(group){%>
							<tr>
								<td><%=group.name%></td>
							</tr>
						<%})%>
					<%}%>
	  	</thead>
		</table>
	</div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>

<div id="viewEntitiesShow" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Entidades</h5>
	  <table id="tableModalEntitiesShow">
	  	<thead>
	  		<tr>
	  			<th>Entidad</th>
	  		</tr>
					<%if(typeof user !== 'undefined' && typeof user.entities !== 'undefined'){%>
						<%_.each(user.entities,function(entity){%>
							<tr >
								<td><%=entity.name%></td>
							</tr>
						<%})%>
					<%}%>
	  	</thead>
		</table>
	</div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>
