<div class="container">
	<form action="/material/update/<%=material.id%>" method="POST" accept-charset="utf-8" class="form-singin">
		<label>Name</label>
		<input type="text" name="name" class="form-control" value="<%=material.name%>" required>
		<label>Estado</label>
		<input type="text" name="state" class="form-control" value="<%=material.state%>" required>
		<label>Numero de inventario</label>
		<input type="text" name="inventory" class="form-control" value="<%=material.inventory%>" required>
		</br>
		<input type="submit"  class="btn btn-default"/>
	</form> 
</div>