<div class="container">
	<h2>Materiales Registrados</h2>
	<table class="table table-hover" >
		<th>Nombre</th>
		<th>Estado</th>
		<th>Numero Inventario</th>
		<th colspan="2" class="text-center">Acciones</th>
		<% _.each(material, function(material) { %>
		<tr>
			<td><%=material.name%></td>
			<td><%=material.state%></td>
			<td><%=material.inventory%></td>
			<td>
				<a href="/material/show/<%=material.id%>" class="btn btn-success btn-sm ">Ver Detalles</a>
			</td>
			<td>
				<form action="/material/destroy/<%=material.id%>" method="POST" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
				</form>
			</td>
		</tr>
		<%})%>
	</table>
</div>



<a href="new" class="btn btn-success btn-sm ">Crea Nuevo Material</a>