<div>
	<form action="/material/create" method="POST" accept-charest="utf-8" class="form-singin">
		<label>Nombre</label>
		<input type="text" name="name" class="form-control" required>
		<label>Numero de Inventario</label>
		<input type="text" name="inventory" class="form-control" required>
		<input type="submit"/>
	</form>
</div>

<a href="/material/index" class="btn btn-success btn-sm ">Ver Todos Los Materiales</a>

