<div class="container">
	<h2>Informacion Material</h2>
	<ul>
		<li><%= material.name %></li>
		<li><%= material.state %></li>
		<li><%= material.inventory %></li>
	</ul>
	
	<form action="/material/edit/<%=material.id%>" method="POST" accept-charset="utf-8">
		<button type="submit" class="btn btn-success" >Editar</button>
	</form>
	
</div>


<a href="/material/index" class="btn btn-success btn-sm ">Ver Todos Los Materiales</a>