<div class="container">
	<h5>Contratos</h5>
	<table>
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Tiempo de vto.</th>
				<th>Auto renovable</th>
				<th>Relacion</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</theader>
		<tbody id="tblContract">
			<% _.each(contracts, function(contract)		{ %>
				<tr>
					<td><%=contract.dateOfContract%> </td>
					<td><%=contract.expirationTime%></td>
					<td><%=contract.active%></td>
					<td>
						<form method="LINK" action="/contract/show/<%=contract.id%>"> 
						 	<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">mode_edit</i>
						  </button>
						</form>
					</td>
					<td>
						<form action="/contract/destroy/<%=contract.id%>" method="POST" accept-charset="utf-8">
							<input type="hidden" name="_method" value="delete"/>
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">delete</i>
						  </button>
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						</form>
					</td>
				</tr>
			<%})%>
		</tbody>		
	</table>
	<ul class="pagination">
		<%for (var i = 	1; i <= cantPag; i++) {%>
			<%if(currentPage == i){%>
				<li class="active"><a href="?page=<%=i%>"><%=i%></a></li>
			<%}else{%>
				<li><a href="?page=<%=i%>"><%=i%></a></li>
			<%}%>
		<%}%>
	</ul>
	</br>
	<a href="new" class="btn btn-success btn-sm ">Crea Otro Usuario</a>
</div>