<div class="container">
	<div>
		<form action="/contract/create" method="POST" accept-charest="utf-8" class="col s12">
			<div class="row">
        <div class="input-field col s6">
        	<input type="date" class="datepicker" name="dateOfContract" >
          <label for="first_name">Fecha de contrato</label>
        </div>
        <div class="input-field col s6">
          <input name="Meses para que expire" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
			
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input class="btn btn-success btn-sm" value="Crear" type="submit"/>
		</form>
	</div>
	<br>
	<a href="/contract/index" class="btn btn-success btn-sm ">Ver Todos Los Contractos</a>
</div>