*{
	margin:0;
	padding:0;
}

body {
    background-color:#f5f5f4;
}

#barra{
	background-color:#e5e5e5;
	width:100%;
	height:100%;
	box-shadow: 2px 2px 5px #999;
    border-radius: 0px;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.conteiner{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.columnCheckAdded{
	text-align: center;
}

.findForm {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

#flashMsj{
	width: 100%;
}

#logo{
	width: 155px;
  height: 55px;
}

#linkLogo{
	padding: inherit;
	padding-right: 	10px;
}

#navBarMenu{
	padding-top: 2.5px;
}

/*.container{
	width:70%;
	margin-left: 15%;
	margin-top: 0;
	background-color: white;

}*/

ul{
	list-style:none;
	padding:0;
	float:right;
}

.a{
	margin-left: 70px;
}

.menu{
	width:50%;
	display:table;
	table-layout:fixed;
	float:right;
	margin-top:70px;
}

.menu li{
	display:table-cell;
	overflow:hidden:
	width:100%;
}

.menu li a{
	text-decoration:none;
	color:#797a7a;
	display:block;
	font-size:20px;
	text-align:center;
}

/*material icons*/
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('../font/material-design-icons/Material-Design-Icons.eot'); /* For IE6-8 */
	src: local('Material Icons'),
			 local('MaterialIcons-Regular'),
			 url('../font/material-design-icons/Material-Design-Icons.woff2') format('woff2'),
			 url('../font/material-design-icons/Material-Design-Icons.woff') format('woff'),
			 url('../font/material-design-icons/Material-Design-Icons.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
