<div class="container">
	<div class="row">
		<form action="/role/update/<%=role.id%>" method="POST" accept-charset="utf-8" class="col s12">
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input type="hidden" id="idRol" value="<%= role.id %>"/>
			<div class="row">
				<div class="input-field col s12">
					<input id="description" type="text" class="form-control" name='description' required value="<%=role.description%>" autofocus>
					<label for="description">Descripción</label>
				</div>
			</div>
			<input type="submit" value="Guardar" class="btn btn-default"/>
		</form>
	</div>
	<h5>Usuarios en el rol</h5>
	<table id="tablaUserRol">
		<thead>
			<tr>
				<th data-field="user.name">Nombre</th>
				<th data-field="user.email">E-Mail</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(users, function(user) { %>
				<tr data-id="<%= user.id %>" data-model="user">
					<td><%=user.name%></td>
					<td><%=user.email%></td>
				</tr>
			<%})%>
		</tbody>
	</table>
	<a id="openModUsers" class="modal-trigger waves-effect waves-light btn" href="#addUsers">Administrar usuarios</a>
	</br>
	</br>
	<h5>Permisos en el rol</h5>
	<table id="tablaPermissionRol">
		<thead>
			<tr>
				<th>ID</th>
				<th>Modelo</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(permissions, function(permission) { %>
				<tr data-id="<%= permission.id %>" data-model="permission">
					<td><%=permission.id%></td>
					<td><%=permission.model.description%></td>
					<td>
						<button type="button" class="btn-floating btn-small waves-effect waves-light red infoAcciones" onclick="obtenerInfoAcciones('<%=permission.id%>')">
							<i class="small material-icons right">description</i>
						</button>
					</td>
				</tr>
			<%})%>
		</tbody>
	</table>
	<a id="openModPermissions" class="modal-trigger waves-effect waves-light btn" href="#addPermissions">Administrar permisos</a>
	<br>
	<br>
	<a href="/role/index" class="btn btn-success btn-sm ">Ver Todos Los Roles</a>
</div>

<!-- Modal -->

<div id="addUsers" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Usuarios</h4>
		<ul class="collapsible" data-collapsible="accordion" style="width: 100%;">
			<li>
				<div class="collapsible-header"><i class="material-icons">find_in_page</i>Filtros</div>
				<div class="collapsible-body">
					<div class="findForm">
						<form id="find" accept-charest="utf-8" class="form-singin col s12">
							<div class="row">
								<div class="input-field col s6">
									<label>Nombre</label>
									<input type="text" name="userName" class="form-control modalFilterUsers" autocomplete="off">
								</div>
								<div class="input-field col s6">
									<label>Email</label>
									<input type="text" name="email" class="form-control modalFilterUsers" autocomplete="off">
								</div>
							</div>
							<input id="page" class="modalPaginatedUsers modalFilterUsers" type="hidden" name="page"/>
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						</form>
					</div>
				</div>
			</li>
		</ul>
     <table id="modalUsers">
     	<thead>
     		<tr>
     			<th>Nombre</th>
					<th>Email</th>
					<th>Web</th>
					<th colspan="2" class="text-center">Acciones</th>
     		</tr>
     	</thead>
		</table>
  </div>
  <div class="modal-footer" id="mainModalUsers">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>

<div id="addPermissions" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Permisos</h4>
		<ul class="collapsible" data-collapsible="accordion" style="width: 100%;">
			<li>
				<div class="collapsible-header"><i class="material-icons">find_in_page</i>Filtros</div>
				<div class="collapsible-body">
					<div class="findForm">
						<form id="find" accept-charest="utf-8" class="form-singin col s12">
							<div class="row">
								<div class="input-field col s12">
									<label>Modelo</label>
									<input type="text" name="modelName" class="form-control modalFilterPermissions" autocomplete="off">
								</div>
							</div>
							<input id="page" class="modalPaginatedPermissions modalFilterPermissions" type="hidden" name="page"/>
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						</form>
					</div>
				</div>
			</li>
		</ul>
     <table id="modalPermissions">
     	<thead>
     		<tr>
     			<th>ID</th>
					<th>Modelo</th>
					<th colspan="2" class="text-center">Acciones</th>
     		</tr>
     	</thead>
		</table>
  </div>
  <div class="modal-footer" id="mainModalPermissions">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>

<div id="viewDetailPermission" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Acciones para el permiso</h4>
	 	<table id="modalAcctions">
    	<thead>
    		<tr>
      		<th>Accion</th>
					<th colspan="2" class="text-center">Tiene acceso</th>
				</tr>
    	</thead>
		</table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>
