<div class="container">
	<h5>Roles Registrados</h5>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</thead>		
		<tbody>
			<% _.each(roles, function(role) { %>		
				<tr>
					<td><%=role.description%></td>
					<td>					
						<form method="LINK" action="/role/show/<%=role.id%>"> 
						 	<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">mode_edit</i>
						  </button>
						</form>
					</td>
					<td>
						<form action="/role/destroy/<%=role.id%>" method="POST" accept-charset="utf-8">
							<input type="hidden" name="_method" value="delete"/>
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
						    <i class="small material-icons right">delete</i>
						  </button>
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						</form>
					</td>
				</tr>
			<%})%>
		</tbody>
	</table>
	<a href="new" class="btn waves-effect waves-light">Crea Otro Rol</a>
</div>

