<div class="container">
	<div>
		<form action="/role/create" method="POST" accept-charest="utf-8">
			<label>Descripcion</label>
			<input type="text" name="description" class="form-control" required autofocus
			<%if(typeof role !== 'undefined' && typeof role.description !== 'undefined'){%> value='<%=role.description%><%}%>'>
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input type="submit"/>
		</form>
	</div>
	<a href="/role/index" class="btn btn-success btn-sm ">Ver Todos Los Roles</a>
</div>
