<div class="container">
	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="description" disabled type="text" class="form-control" name='description' required value="<%=role.description%>">
					<label for="description">Descripción</label>
				</div>
			</div>
		</form>
	</div>
	<h5>Usuarios en el rol</h5>
	<table id="tablaUserRol">
		<thead>
			<tr>
				<th data-field="user.name">Nombre</th>
				<th data-field="user.email">E-Mail</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(users, function(user) { %>
				<tr data-id="<%= user.id %>" data-model="user">
					<td><%=user.name%></td>
					<td><%=user.email%></td>
				</tr>
			<%})%>
		</tbody>
	</table>
	</br>
	<h5>Permisos en el rol</h5>
	<table id="tablaPermissionRol">
		<thead>
			<tr>
				<th>ID</th>
				<th>Modelo</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(permissions, function(permission) { %>
				<tr data-id="<%= permission.id %>" data-model="permission">
					<td><%=permission.id%></td>
					<td><%=permission.model.description%></td>
					<td>
						<button type="button" class="btn-floating btn-small waves-effect waves-light red" onclick="obtenerInfoAcciones('<%=permission.id%>')">
							<i class="small material-icons right">description</i>
						</button>
					</td>
				</tr>
			<%})%>
		</tbody>
	</table>
	</br>

	<form action="/role/edit/<%=role.id%>" method="POST" accept-charset="utf-8">
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
		<input type="submit" value="Editar" class="btn btn-default"/>
	</form>
	</br>
	<a href="/role/index" class="btn btn-success btn-sm ">Ver Todos Los Roles</a>
</div>

<div id="viewDetailPermission" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Acciones para el permiso</h4>
	 	<table id="modalAcctions">
    	<thead>
    		<tr>
      		<th>Accion</th>
					<th colspan="2" class="text-center">Tiene acceso</th>
				</tr>
    	</thead>
		</table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>
