<div class="container theme-showcase" role="main">
	<div class="jumbotron">
    	<h1 class="cover-heading">Bienvenido a CEE</h1>
	    <p class="lead">El Centro de Emprendedores y Empresas es un espacio creado para fomentar el espíritu emprendedor y el desarrollo empresarial del departamento de Paysandú y la región.

		Brinda programas de apoyo específico que promueven la creación y el desarrollo de nuevas empresas, trabajando conjuntamente con los emprendedores para que puedan transformar sus ideas en emprendimientos, pudiendo acceder a la incubación física y/o remota.

		Impulsa a través de la articulación interinstitucional el desarrollo e innovación empresarial, facilitando el acceso a herramientas que permitan la optimización de los recursos y la mejora en la competividad.

		Promueve la inserción a Redes locales, nacionales e internacionales, enriqueciendo las experiencias y tendencias novedosas, a través del intercambio de buenas prácticas.</p>
  	</div>
</div>