<tr data-id="<%= action.id %>" data-model="action">
	<td><%=action.name%></h5></td>
	<td><input id="chk<%=action.id%>" type='checkbox' name='canAccess' disabled="disabled" checked="checked" value="<%=action.id%>">
	<label for="chk<%=action.id%>"></label></td>
</tr>