<tr data-id="<%= permission.id %>" data-model="permission">
	<td><%=permission.id%></td>
	<td><%=permission.model.description%></td>
	<td>
		<button type="button" class="btn-floating btn-small waves-effect waves-light red" onclick="obtenerInfoAcciones('<%=permission.id%>')">
			<i class="small material-icons right">description</i>
		</button>				
	</td>
</tr>