<div class="container">
	<form action="/room/update/<%=room.id%>" method="POST" accept-charset="utf-8" class="form-singin">
		<label>Numero</label>
		<input type="text" name="number" class="form-control" value="<%=room.number%>" required>
		<label>Estado</label>
		<input type="text" name="state" class="form-control" value="<%=room.state%>" required>
		</br>
		<input type="submit"  class="btn btn-default"/>
	</form> 
</div>