<div class="container">
	<h2>Salones</h2>
	<table class="table table-hover" >
		<th>Numero</th>
		<th>Estado</th>
		<th colspan="2" class="text-center">Acciones</th>
		<% _.each(room, function(room) { %>
		<tr>
			<td><%=room.number%></td>
			<td><%=room.state%></td>
			<td>
				<a href="/room/show/<%=room.id%>" class="btn btn-success btn-sm ">Ver Detalles</a>
			</td>
			<td>
				<form action="/room/destroy/<%= room.id%>" method="POST" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
				</form>
			</td>
		</tr>
		<%})%>
	</table>
</div>



<a href="new" class="btn btn-success btn-sm ">Crea Otro Salon</a>