<div>
	<form action="/room/create" method="POST" accept-charest="utf-8" class="form-singin">
		<label>Numero</label>
		<input type="text" name="number" class="form-control" required>
		<input type="submit"/>
	</form>
</div>

<a href="/room/index" class="btn btn-success btn-sm ">Ver Todos Los Salónes</a>