<div class="container">
	<h2>Informacion Salón</h2>
	<ul>
		<li><%= room.number %></li>
		<li><%= room.state %></li>
	</ul>
	
	<form action="/room/edit/<%=room.id%>" method="POST" accept-charset="utf-8">
		<button type="submit" class="btn btn-success" >Editar</button>
	</form>
	
</div>


<a href="/room/index" class="btn btn-success btn-sm ">Ver Todos Los Salones</a>