<div class="container">
		<div class="col s12">
		 <div class="row">
	    <div class="input-field col s12 m6">
	      <input id="idPermission" type="text" class="validate" disabled required value="<%=permission.id%>">
	      <label for="idPermission">ID</label>
	    </div>
	    <div class="input-field col s12 m6">
	      <input id="model" type="text" class="validate" name='description' disabled required value="<%=permission.model.description%>">
	      <label for="model">Modelo</label>
	    </div>
	  </div>
  </div>
	<a id="viewModActionsP" class="modal-trigger waves-effect waves-light btn" href="#viewActionsP">Administrar acciones</a>
	<!--</form> -->
</div>
<table id="tableActions"style="dysplay:none">
	<tr></tr>
	<%if(typeof permission !== 'undefined' && typeof permission.actions !== 'undefined'){%>
		<%_.each(permission.actions,function(action){%>
			<tr data-id="<%= action %>" data-model="action">
				<input type="hidden" name="actions" value="<%=action%>">
			</tr>
		<%})%>
	<%}%>
</table>
<div id="viewActionsP" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Acciones</h5>
	  <table id="modalAcctionsP">
	  	<thead>
	  		<tr>
	  			<th>Accion</th>
					<th colspan="2" class="text-center">Agregar</th>
	  		</tr>
	  	</thead>
		</table>
	</div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>
