<div class="container">
	<ul class="collapsible" data-collapsible="accordion" style="width: 100%;">
		<li>
			<div class="collapsible-header"><i class="material-icons">find_in_page</i>Filtros</div>
			<div class="collapsible-body">
				<div class="findForm">
					<form id="find" action="/permission/index" method="post" accept-charest="utf-8" class="form-singin col s12">
						<div class="row">
							<div class="input-field col s12">
								<label>Nombre</label>
								<input type="text" name="name" class="form-control"
								<%if(typeof permissionFindParams !== 'undefined' && typeof permissionFindParams.name !== 'undefined'){%> value=<%=permissionFindParams.name%> <%}%>>
							</div>
						</div>
						<input id="page" type="hidden" name="page"
						<%if(typeof currentPage !== 'undefined' ){%> value=<%=currentPage%> <%}%> />
						<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						<input type="submit" class="btn btn-success btn-sm" value='Buscar'/>
						<input type="button" class="btn btn-success btn-sm" onclick="clearFindForm()" value='Limpiar'/>
					</form>
				</div>
			</div>
		</li>
	</ul>
	<h5>Permisos Registrados</h5>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre del modelo</th>
				<th colspan="2" class="text-center">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(permissions, function(permission){ %>
				<tr>
					<td><%=permission.id%></td>
					<td><%=permission.model.description%></td>
					<td>
						<form method="LINK" action="/permission/show/<%=permission.id%>">
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
								<i class="small material-icons right">mode_edit</i>
							</button>
						</form>
					</td>
					<td>
						<form action="/permission/destroy/<%=permission.id%>" method="POST" accept-charset="utf-8">
							<input type="hidden" name="_method" value="delete"/>
							<button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="action">
								<i class="small material-icons right">delete</i>
							</button>
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
						</form>
					</td>
				</tr>
			<%});%>
		</tbody>
	</table>
	<ul class="pagination">
		<%for (var i = 	1; i <= cantPag; i++) {%>
			<%if(currentPage == i){%>
				<li class="active"><a class="pageButton" id="<%=i%>" href="javascript:void(0)"><%=i%></a></li>
			<%}else{%>
				<li><a class="pageButton" id="<%=i%>" href="javascript:void(0)"><%=i%></a></li>
			<%}%>
		<%}%>
	</ul>
	</br>
	<a href="new" class="btn btn-success btn-sm ">Crear Otro Permiso</a>
</div>
