<div class="container">
	<form action="/permission/edit/<%=permission.id%>" method="POST" accept-charset="utf-8" class="form-singin">
		<h5>Permiso para el modelo</h5>
		<input type="text" class="form-control" disabled name='description' required value="<%=permission.model.description%>">
		</br>
		<table>
			<thead>
				<tr>
					<th>Acciones</th>
					<th colspan="2" class="text-center">Agregado</th>
				</tr>
			</thead>
			<tbody>
				<% _.each(actions, function(action) { %>
					<tr>
						<td><%=action.action.name%></td>
						<%if(action.canAccess){%>	
							<td>
								<input id="<%=action.action.id%>" type='checkbox' name='canAccess' disabled="disabled" checked="checked" value="<%=action.action.id%>">
								 <label for="<%=action.action.id%>"></label>
							</td>
						<%}else{%>
							<td>
								<input id="<%=action.action.id%>" type='checkbox' name='canAccess' disabled value="<%=action.action.id%>">
								<label for="<%=action.action.id%>"></label>
							</td>
						<%}%>
					</tr>
						
				<%})%>
			</tbody>			
		</table>
		</br>
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
		<input type="submit" value="Editar" class="btn btn-default"/>
	</form> 
</div>