<div class="container">
	<form action="/event/update/<%=event.id%>" method="POST" accept-charset="utf-8" class="form-singin">
		<label>Name</label>
		<input type="text" name="name" class="form-control" value="<%= event.name%>" required>
		<label>Cupos</label>
		<input type="text" name="quota" class="form-control" value="<%= event.quota%>" required>
		<label>Descripcion</label>
		<input type="text" name="description" class="form-control" value="<%= event.description%>" required>
		</br>
		<input type="submit"  class="btn btn-default"/>
	</form> 
</div>