<div class="container">
	<h2>Eventos Registrados</h2>
	<table class="table table-hover" >
		<th>Nombre</th>
		<th>Cupos</th>
		<th>Descripción</th>
		<th colspan="2" class="text-center">Acciones</th>
		<% _.each(event, function(event) { %>
		<tr>
			<td><%=event.name%></td>
			<td><%=event.quota%></td>
			<td><%=event.description%></td>
			<td>
				<a href="/event/show/<%=event.id%>" class="btn btn-success btn-sm ">Ver Detalles</a>
			</td>
			<td>
				<form action="/event/destroy/<%= event.id%>" method="POST" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
				</form>
			</td>
		</tr>
		<%})%>
	</table>
</div>



<a href="new" class="btn btn-success btn-sm ">Crea Otro Evento</a>