<div>
	<form action="/event/create" method="POST" accept-charest="utf-8" class="form-singin">
		<label>Nombre</label>
		<input type="text" name="name" class="form-control" required>
		<label>Cupos</label>
		<input type="text" name="quota" class="form-control">
		<label>Descripcion</label>
		<input type="text" name="description" class="form-control" required>
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
		<input type="submit"/>
	</form>
</div>

<a href="/event/index" class="btn btn-success btn-sm ">Ver Todos Los Eventos</a>
