<div class="container">
	<h2>Informacion Evento</h2>
	<ul>
		<li><%= event.name %></li>
		<li><%= event.quota %></li>
		<li><%= event.description %></li>
	</ul>

	<form action="/event/edit/<%=event.id %>" method="POST" accept-charset="utf-8">
		<button type="submit" class="btn btn-success" >Editar</button>
	</form>

</div>

<a href="/event/index" class="btn btn-success btn-sm ">Ver Todos Los Eventos</a>
