<div class="container">
	<form action="/ocurrence/update/<%=ocurrence.id%>" method="POST" accept-charset="utf-8" class="form-singin">
		<label>Costo</label>
		<input type="text" name="name" class="form-control" value="<%= ocurrence.costo%>" required>

		<label>Moneda</label>
		<input type="text" name="quota" class="form-control" value="<%= ocurrence.moneda%>" required>

		<label>Evento</label>
		<input type="text" name="description" class="form-control" value="<%= ocurrence.idevento%>" required>

		<label>Grupo</label>
		<input type="text" name="description" class="form-control" value="<%= ocurrence.idgrupo%>" required>

		<label>Persona</label>
		<input type="text" name="description" class="form-control" value="<%= ocurrence.idpersona%>" required>
		</br>

		<input type="submit"  class="btn btn-default"/>
	</form>
</div>
