<div class="container">
	<h2>Precios</h2>
	<table class="table table-hover" >
		<th>Costo</th>
		<th>Moneda</th>
		<th>Fecha</th>
		<th>Evento</th>
		<th colspan="2" class="text-center">Acciones</th>
		<% _.each(ocurrences, function(ocurrence) { %>
		<tr>
			<td><%=ocurrence.cost%></td>
			<td><%=ocurrence.sign%></td>
			<td><%=ocurrence.evdate%></td>
			<!-- como traer el nombre del evento-->
			<td><%=ocurrence.event.name%></td>
			<td>
				<a href="/ocurrence/show/<%=ocurrence.id%>" class="btn btn-success btn-sm ">Ver Detalles</a>
			</td>
			<td>
				<form action="/ocurrence/destroy/<%= ocurrence.id%>" method="POST" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
				</form>
			</td>
		</tr>
		<%})%>
	</table>
</div>



<a href="new" class="btn btn-success btn-sm ">Nuevo precio</a>
