<div class="container">
		<form action="/ocurrence/create" method="POST" accept-charest="utf-8" class="form-singin col s12">
			<div class="row">
				<div class="input-field col s6">
					<label>Costo</label>
					<input type="text" name="cost" class="form-control">
				</div>
				<div class="input-field col s6">
					<label>Moneda</label>
					<input type="text" name="sign" class="form-control" >
				</div>
				<div class="input-field col s6">
					<input type="date" class="datepicker" name="evdate" >
          <label for="first_name">Fecha</label>
				</div>

			</div>

			<!-- Dropdown de Eventos -->
			<div class="row">
				<label>Evento</label>
				 <select name = "idevent" >
				  <option value="" disabled>--Seleccion--</option>
				  <% _.each(events, function(event) { %>
				  <option  value ="<%=event.id%>" ><%=event.name%></option>
				  <%});%>
				</select><br>
			</div>
			</br>

			<!-- botones para desplegar modales -->
			<a id="viewModGroups" class="modal-trigger waves-effect waves-light btn" href="#viewGroups">Administrar grupos</a>
			</br>
			</br>
			<a id="viewModUsers" class="modal-trigger waves-effect waves-light btn" href="#viewUsers">Agregar Usuarios</a>
			</br>
			</br>

			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			<input type="submit" class="btn btn-success btn-sm" value='Crear'/>

			<!-- tablas ocultas que guardan los valores seleccionados en los modales -->
			<table id="tableGroups"style="dysplay:none">
				<tr></tr>
			</table>
			<table id="tableUsers"style="dysplay:none">
				<tr></tr>
			</table>
		</form>
	</br>
	<!-- boton ver precios -->
		<a href="/ocurrence/index" class="btn btn-success btn-sm ">Ver Todos Los Precios</a>
	</div>
</div>


<!-- modal para agregar grupos -->
<div id="viewGroups" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Grupos</h5>
	  <table id="tableModalGroups">
	  	<thead>
	  		<tr>
	  			<th>Grupo</th>
					<th colspan="2" class="text-center">Agregar</th>
	  		</tr>
	  	</thead>
		</table>
	</div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>

<!-- modal para agregar Users -->
<div id="viewUsers" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Usuarios</h5>
	  <table id="tableModalUsers">
	  	<thead>
	  		<tr>
	  			<th>Usuario</th>
					<th colspan="2" class="text-center">Agregar</th>
	  		</tr>
	  	</thead>
		</table>
	</div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
  </div>
</div>
