<div class="container">
	<h2>Informacion Precio</h2>
	<ul>
		<li><%= ocurrence.costo %></li>
		<li><%= ocurrence.moneda %></li>
		<li><%= ocurrence.persona %></li>
		<li><%= event.ocurrence.persona %></li>
	</ul>

	<form action="/ocurrence/edit/<%=ocurrence.id %>" method="POST" accept-charset="utf-8">
		<button type="submit" class="btn btn-success" >Editar</button>
	</form>

</div>


<a href="/ocurrence/index" class="btn btn-success btn-sm ">Ver Todos Los Eventos</a>
